@import "libs";
@import "fonts";


//font-famyli
$open: 'Open Sans', sans-serif;
$reg:'PFBeauSansPro-Regular', sans-serif;
$bold:'PFBeauSansPro-Bold', sans-serif;
$sebold: 'PFBeauSansPro-SemiBold', sans-serif;

//font-size
$f12:12px;
$f15:15px;
$f16:16px;
$f26:26px;
$f62:62px;
//font-color
$textColorBl:#0b1d2b;
$textHover:#ed1b22;
$textWhite:white;

//color
$borderColorGr:#dbdbda;
$colorIcons:#ed1b22;
$transp:transparent;
$black:#0b1d2b;


