@import "libs";
@import "fonts";


//font-famyli
$open: 'Open Sans', sans-serif;
$reg:'PFBeauSansPro-Regular', sans-serif;
$bold:'PFBeauSansPro-Bold', sans-serif;
$sebold: 'PFBeauSansPro-SemiBold', sans-serif;

//font-size

//font-color

//color


